@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Mono', monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
